services:
  localstack:
    image: localstack/localstack
    container_name: localstack
    ports:
      - "4566:4566"
      - "4572:4572"
    environment:
      - SERVICES=s3,mongodb
      - DOCKER_HOST=unix:///var/run/docker.sock

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
